[advisories]
ignore = [
    "RUSTSEC-2023-0071",
]


[licenses]
allow = [
    "AGPL-3.0-only",
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSL-1.0",
    "BSD-3-Clause",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "Zlib",
    "Unicode-3.0",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "allow"
wildcards = "allow"
highlight = "all"
skip = [
    { name = "bitflags" },
    { name = "getrandom" },
    { name = "thiserror" },
    { name = "thiserror-impl" },
    { name = "wasm-encoder" },
    { name = "windows" },
    { name = "windows-core" },
    { name = "windows-sys" },
    { name = "windows-targets" },
    { name = "windows_aarch64_gnullvm" },
    { name = "windows_aarch64_msvc" },
    { name = "windows_i686_gnu" },
    { name = "windows_i686_gnullvm" },
    { name = "windows_i686_msvc" },
    { name = "windows_x86_64_gnu" },
    { name = "windows_x86_64_gnullvm" },
    { name = "windows_x86_64_msvc" },
]
